In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [14]:
import os 
result = pd.DataFrame()
training_sets = os.listdir("../eval_mtl_results/")
bad_data = ["haberman.csv", "german.csv", 
            #"balance-scale.csv",
            "arrhythmia.csv", 
            "heart-statlog.csv", 
            "sonar.csv", 
            "tae.csv", 
           # "vehicle.csv"
           ]


for training_set in training_sets:
    runs = os.listdir(f"../eval_mtl_results/{training_set}/")
    for run in runs:
        approaches = os.listdir(f"../eval_mtl_results/{training_set}/{run}")
        for approach in approaches:
            if run == "run_1" and training_set == "gaussian+varied+moons+circles":
                continue
            datasets = os.listdir(f"../eval_mtl_results/{training_set}/{run}/{approach}")
            for dataset in datasets:
                if dataset in bad_data:
                    continue
                df = pd.read_csv(f"../eval_mtl_results/{training_set}/{run}/{approach}/{dataset}")
                df["Method"] = approach
                df["dataset"] = dataset
                df["training_set"] = training_set

                #df = df[df["iteration"] <= 50]
                df["max_iteration"] = df["iteration"].max()
                df["run"] = int(run.split("run_")[-1])
                result = pd.concat([result, df],ignore_index=True)
result["Best NMI"] *= -1 * 100
result["Best ARI"] *= -1 * 100
all_except_largest_fmnist_data = [f"Fashion-MNIST_n{i}0000_f784_c10.csv" for i in range(4,8)]
result = result[~result["dataset"].isin(all_except_largest_fmnist_data)]

In [11]:
result

,runtime,iteration,config,cvi,cf,gen_time,gen_ari,gen_nmi,gen_cvi,m,...,Best NMI,best config,k_pred,config_ranking,training_set,max_iteration,run,mf time,similar dataset,algorithms
0,0.331577,1,"{'cc_function': 'ACV', 'k': 2, 'm': 4}",CH,ACV,0.821531,-0.131311,-0.20373,-131.539184,4.0,...,0.227161,"{'cc_function': 'ACV', 'k': 2, 'm': 4}",2,1.0,gaussian,70,0,NaN,NaN,NaN
1,0.197817,2,"{'cc_function': 'ACV', 'k': 69, 'm': 4}",CH,ACV,0.821531,-0.131311,-0.20373,-131.539184,4.0,...,0.227161,"{'cc_function': 'ACV', 'k': 2, 'm': 4}",2,45.0,gaussian,70,0,NaN,NaN,NaN
2,0.302129,3,"{'cc_function': 'ACV', 'k': 5, 'm': 4}",CH,ACV,0.821531,-0.131311,-0.20373,-131.539184,4.0,...,0.227161,"{'cc_function': 'ACV', 'k': 2, 'm': 4}",2,5.0,gaussian,70,0,NaN,NaN,NaN
3,0.170720,4,"{'cc_function': 'ACV', 'k': 83, 'm': 4}",CH,ACV,0.821531,-0.131311,-0.20373,-131.539184,4.0,...,0.227161,"{'cc_function': 'ACV', 'k': 2, 'm': 4}",2,57.0,gaussian,70,0,NaN,NaN,NaN
4,0.162905,5,"{'cc_function': 'ACV', 'k': 88, 'm': 4}",CH,ACV,0.821531,-0.131311,-0.20373,-131.539184,4.0,...,0.227161,"{'cc_function': 'ACV', 'k': 2, 'm': 4}",2,62.0,gaussian,70,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41788,0.031833,66,"{'algorithm': 'KMeans', 'n_clusters': 84}",CH,NaN,NaN,NaN,NaN,NaN,NaN,...,34.461573,"{'algorithm': 'GMM', 'n_clusters': 57}",57,61.5,varied+moons+circles,70,1,0.023422,type=varied-k=10-n=1000-d=50-noise=0,GMM+MBKMeans+KMeans+birch+ward
41789,0.031138,67,"{'algorithm': 'KMeans', 'n_clusters': 86}",CH,NaN,NaN,NaN,NaN,NaN,NaN,...,34.461573,"{'algorithm': 'GMM', 'n_clusters': 57}",57,61.5,varied+moons+circles,70,1,0.023422,type=varied-k=10-n=1000-d=50-noise=0,GMM+MBKMeans+KMeans+birch+ward
41790,0.003778,68,"{'algorithm': 'ward', 'linkage': 'single', 'n_...",CH,NaN,NaN,NaN,NaN,NaN,NaN,...,34.461573,"{'algorithm': 'GMM', 'n_clusters': 57}",57,61.5,varied+moons+circles,70,1,0.023422,type=varied-k=10-n=1000-d=50-noise=0,GMM+MBKMeans+KMeans+birch+ward
41791,0.022113,69,"{'algorithm': 'MBKMeans', 'n_clusters': 32}",CH,NaN,NaN,NaN,NaN,NaN,NaN,...,34.461573,"{'algorithm': 'GMM', 'n_clusters': 57}",57,27.0,varied+moons+circles,70,1,0.023422,type=varied-k=10-n=1000-d=50-noise=0,GMM+MBKMeans+KMeans+birch+ward
41792,0.003790,70,"{'algorithm': 'ward', 'linkage': 'complete', '...",CH,NaN,NaN,NaN,NaN,NaN,NaN,...,34.461573,"{'algorithm': 'GMM', 'n_clusters': 57}",57,61.5,varied+moons+circles,70,1,0.023422,type=varied-k=10-n=1000-d=50-noise=0,GMM+MBKMeans+KMeans+birch+ward

In [15]:
result["dataset"].value_counts()

balance-scale.csv                    1820
banknote_n1372_f4_k2.csv             1820
yeast.csv                            1820
wisc.csv                             1820
wine.csv                             1820
wdbc_n569_f31_k2.csv                 1820
vowel.csv                            1820
vehicle.csv                          1820
USPS_n9298_f256_c10.csv              1820
thy.csv                              1820
segment.csv                          1820
pendigits_n10992_f16_c10.csv         1820
miceprotein_n1080_f77_c8.csv         1820
letter_n20000_f16_c26.csv            1820
iris_n150_f5_k3.csv                  1820
iono.csv                             1820
har_n10299_f561_c6.csv               1820
glass.csv                            1820
Fashion-MNIST_n10000_f784_c10.csv    1820
ecoli_n336_f8_k8.csv                 1820
dermatology_n366_f33_k6.csv          1820
zoo.csv                              1820
Fashion-MNIST_n20000_f784_c10.csv     795
Fashion-MNIST_n30000_f784_c10.csv     647
Name: dataset, dtype: int64

In [16]:
max_iter_results = result.loc[result.groupby(["training_set", "Method", "dataset", "run"])["iteration"].idxmax()]

In [6]:
max_iter_results[["Method", "dataset", "iteration", "run", "training_set"]]

,Method,dataset,iteration,run,training_set
349,effens,Fashion-MNIST_n10000_f784_c10.csv,70,0,gaussian
3975,effens,Fashion-MNIST_n10000_f784_c10.csv,70,1,gaussian
1469,effens,USPS_n9298_f256_c10.csv,70,0,gaussian
4675,effens,USPS_n9298_f256_c10.csv,70,1,gaussian
69,effens,balance-scale.csv,70,0,gaussian
...,...,...,...,...,...
40585,ml2dac,wisc.csv,70,1,varied+moons+circles
37575,ml2dac,yeast.csv,70,0,varied+moons+circles
40655,ml2dac,yeast.csv,70,1,varied+moons+circles
37645,ml2dac,zoo.csv,70,0,varied+moons+circles
40725,ml2dac,zoo.csv,70,1,varied+moons+circles

In [17]:
result[result["iteration"] == 70].groupby(["training_set", "Method"])["Best NMI", "Best ARI", "wallclock time", "max_iteration"].mean().round(1)

<ipython-input-17-210973aac299>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  result[result["iteration"] == 70].groupby(["training_set", "Method"])["Best NMI", "Best ARI", "wallclock time", "max_iteration"].mean().round(1)

                                      Best NMI  Best ARI  wallclock time  \
training_set                  Method
gaussian                      effens      37.4      25.1           111.2
                              ml2dac      25.8      17.4           290.8
gaussian+moons+circles        effens      39.8      26.1           152.3
                              ml2dac      26.4      17.1           331.9
gaussian+varied               effens      36.0      26.9            98.0
                              ml2dac      29.1      19.4           202.8
gaussian+varied+moons+circles effens      44.0      29.8           100.3
                              ml2dac      44.1      31.6           245.1
moons+circles                 effens      43.6      25.8           305.4
                              ml2dac      33.0      22.7           425.8
varied                        effens      37.5      28.4            90.3
                              ml2dac      35.3      25.8           210.5
varied+moons+circles          effens      37.4      28.1            71.0
                              ml2dac      38.0      26.0           263.9

                                      max_iteration
training_set                  Method
gaussian                      effens           70.0
                              ml2dac           70.0
gaussian+moons+circles        effens           70.0
                              ml2dac           70.0
gaussian+varied               effens           70.0
                              ml2dac           70.0
gaussian+varied+moons+circles effens           70.0
                              ml2dac           70.0
moons+circles                 effens           70.0
                              ml2dac           70.0
varied                        effens           70.0
                              ml2dac           70.0
varied+moons+circles          effens           70.0
                              ml2dac           70.0

In [19]:
result[(result["iteration"] == 70) &(result["dataset"] == "Fashion-MNIST_n20000_f784_c10.csv")].groupby(["training_set", "Method"])["Best NMI", "Best ARI", "wallclock time", "max_iteration"].mean().round(1)

<ipython-input-19-1704e792320e>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  result[(result["iteration"] == 70) &(result["dataset"] == "Fashion-MNIST_n20000_f784_c10.csv")].groupby(["training_set", "Method"])["Best NMI", "Best ARI", "wallclock time", "max_iteration"].mean().round(1)

                               Best NMI  Best ARI  wallclock time  \
training_set           Method
gaussian               effens      24.9      11.8           669.0
gaussian+moons+circles effens      20.0       8.2           686.4
gaussian+varied        effens      24.9      11.8           684.2
moons+circles          effens      40.6      17.1          2102.3
                       ml2dac      -0.0       0.0          6664.0
varied                 effens      24.9      11.8           412.1
                       ml2dac      18.7       9.1          3798.9
varied+moons+circles   effens      15.2       7.3            15.0
                       ml2dac      21.3      10.3          4761.8

                               max_iteration
training_set           Method
gaussian               effens           70.0
gaussian+moons+circles effens           70.0
gaussian+varied        effens           70.0
moons+circles          effens           70.0
                       ml2dac           70.0
varied                 effens           70.0
                       ml2dac           70.0
varied+moons+circles   effens           70.0
                       ml2dac           70.0

In [26]:
result_per_training_set = max_iter_results.groupby(["training_set", "Method"])["Best NMI", "Best ARI", "wallclock time", "max_iteration"].mean().round(1)

<ipython-input-26-20c0e66eea08>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  result_per_training_set = max_iter_results.groupby(["training_set", "Method"])["Best NMI", "Best ARI", "wallclock time", "max_iteration"].mean().round(1)

In [9]:
order = ['gaussian', 'gaussian+moons+circles', 'gaussian+varied',
       'gaussian+varied+moons+circles', 'moons+circles', 'varied',
       'varied+moons+circles']

array(['gaussian', 'gaussian+moons+circles', 'gaussian+varied',
       'gaussian+varied+moons+circles', 'moons+circles', 'varied',
       'varied+moons+circles'], dtype=object)

In [30]:
print(pd.pivot_table(result_per_training_set, 
               index=["training_set"],
               columns=["Method"],
               values=["Best NMI", "Best ARI"]).to_latex())

\begin{tabular}{lrrrr}
\toprule
{} & \multicolumn{2}{l}{Best ARI} & \multicolumn{2}{l}{Best NMI} \\
Method &   effens & ml2dac &   effens & ml2dac \\
training\_set                  &          &        &          &        \\
\midrule
gaussian                      &     25.8 &   17.4 &     38.2 &   25.8 \\
gaussian+moons+circles        &     26.9 &   17.1 &     40.8 &   26.4 \\
gaussian+varied               &     27.6 &   19.4 &     36.5 &   29.1 \\
gaussian+varied+moons+circles &     29.8 &   31.6 &     44.0 &   44.1 \\
moons+circles                 &     26.2 &   23.3 &     43.8 &   33.7 \\
varied                        &     29.1 &   26.2 &     37.8 &   35.7 \\
varied+moons+circles          &     29.0 &   26.3 &     38.3 &   38.4 \\
\bottomrule
\end{tabular}

In [67]:
for training_set in training_sets:
    print(f"Training set {training_set}:")
    print(max_iter_results[max_iter_results["training_set"] == training_set]["cf"].value_counts())
    #print(max_iter_results[max_iter_results["training_set"] == training_set])
    print("------------------------")

Training set gaussian:
ACV     21
MCLA     1
Name: cf, dtype: int64
------------------------
Training set gaussian+moons+circles:
ACV     21
MCLA     1
Name: cf, dtype: int64
------------------------
Training set gaussian+varied:
ACV     19
QMI      2
MCLA     1
Name: cf, dtype: int64
------------------------
Training set moons+circles:
ACV    22
Name: cf, dtype: int64
------------------------
Training set varied:
ACV     21
MCLA     1
Name: cf, dtype: int64
------------------------
Training set varied+moons+circles:
ACV     20
QMI      1
MCLA     1
Name: cf, dtype: int64
------------------------

In [68]:
result[result["iteration"] == 70].groupby(["training_set", "Method"])["Best NMI", "wallclock time", "max_iteration"].mean().round(1)

<ipython-input-68-6a5f91e1c882>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  result[result["iteration"] == 70].groupby(["training_set", "Method"])["Best NMI", "wallclock time", "max_iteration"].mean().round(1)

                               Best NMI  wallclock time  max_iteration
training_set           Method
gaussian               effens      38.6            90.3           70.0
                       ml2dac      25.2           289.7           70.0
gaussian+moons+circles effens      41.1            90.2           70.0
                       ml2dac      28.6           306.8           70.0
gaussian+varied        effens      36.0            57.5           70.0
                       ml2dac      27.1           203.5           70.0
moons+circles          effens      44.0           193.6           70.0
                       ml2dac      30.9           275.0           70.0
varied                 effens      37.5            70.2           70.0
                       ml2dac      36.6           143.8           70.0
varied+moons+circles   effens      38.6            71.3           70.0
                       ml2dac      37.0           147.6           70.0